init.author.name = administator
init.author.email = borrasuresh23@gmail.com
init.author.url = http://bdfjd
# an email is required to publish npm packages
email=borrasuresh23@gmail.com
always-auth=true
_auth=YWRtaW46MTIzNDU=
